*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}
body{
  /* font-family: 'Cairo', sans-serif; */
 background-color:#EDEDED;
 direction: rtl;
}
.logo{
  padding: 0;
}
.logo a img{
  /* border: solid 2px red; */
  object-fit:contain ;
  position: relative;
  bottom: 40px;
  left: 30px;
  width: 30%;
}

.menu{
  display: none;
}
header{
  max-width: 300PX;

  /* direction: ltr; */
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}
header a{
  font-weight: 500;
  color: black;
  text-decoration: none;
  font-size: 1.3em;
  /* margin: 20px; */
}
.middel{
text-align: center;
  text-decoration: none;
  color: black;
  padding: 20px;

  font-size: 1.6em;
}
.middel h1{
  align-items: center;

}
.middel a{
  border-radius: 40px;
  position: relative;
  top: 35px;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
background-color: rgb(247, 0, 255);
}
.middel a .btn2{
  border-radius: 40px;
  position: relative;
  top: 65px;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
background-color: rgb(247, 0, 255);

}

@media (max-width:600px) {
  
  main{
    height: 71vh;
    max-width: 300PX;
  }
  .logo a img{
    position: relative;
    /* bottom: 40px; */
    left: -70px;
    width: 80%;
  }
  
  .header-btn{
    display: none;
  }
}